@charset 'UTF-8';
.h2Contents {
	font-size: 1.8em !important;
	text-align: center;
}

.h5Contents {
	text-align: center;
}

.sliderContents {
	margin-top: 150px;
}

.flexContents {
	padding: 0 80px !important;
}

.card {
	width: 100%;
	border: none !important;
	--bs-card-inner-border-radius: inset !important;
}

.cardTop {
	margin-top: 18px;
}

.sliderLeft:hover {
	opacity: 0.7;
}

@media screen and (max-width: 767px) {
	.h5Contents {
		text-align: initial;
	}

	.contentsWrapper {
		padding: 0 15px;
	}

	.cardTop {
		margin-top: 0;
	}

	.sliderLeft {
		padding-left: 30px;
		display: block;
	}

	.sliderLeft:hover {
		opacity: initial;
	}

	.sliderContents {
		margin-top: 80px;
		margin-left: -15px;
		margin-right: -15px;
	}

	.flexContents {
		padding: 0 !important;
	}

	.sliderRight {
		padding-right: 60px !important;
		padding-left: 30px !important;
	}
}
