@charset 'UTF-8';
/**** main ****/
.listMain {
	margin: 10rem 0;
}

.listLoading {
	width: 100%;
	height: 100vh;
}

@media screen and (max-width: 767px) {
	/**** main ****/
	.listMain {
		margin-top: 10rem;
		margin-bottom: 6rem;
	}
}
