@charset 'UTF-8';
/**** ListArea ****/
.listArea {
  padding: 0;
  margin-bottom: 14.5rem;
}

.picListArea {
  padding: 0 15px;
  margin-bottom: 12.5rem;
}

.photoContents {
  flex-wrap: wrap;
  row-gap: 3.2rem;
}

/* .photoContents::before {
  display: block;
  order: 1;
  width: 30%;
  content: '';
} */

.listArea button {
  width: 390px;
  font-size: 0.9em;
  padding: 0.7rem;
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  transition: .3s;
}

.listArea button:hover {
  transition: .3s;
  transform: translateY(-5px);
  opacity: 0.5;
}

/****読み込み画像******/
.loadingContent {
  margin-bottom: 7.5rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.loadingContent::after {
  content:'';
  height: 100%;
  width: 30px;
  position: absolute;
  top: 0;
  left: -35px;
  background-color: #fff;
  opacity: 0;
  animation: reflection 2.4s linear infinite;
  animation-delay: -2.4s;
}

.loadingContent img {
  width: 100%;
}

@keyframes reflection {
  0% { transform: scale(0) ; opacity: 0; }
  50% { transform: scale(0) ; opacity: 0.25; }
  80% { transform: scale(0) ; opacity: 0.5; }
  81% { transform: scale(0) ; opacity: 1; }
  100% { transform: scale(50) ; opacity: 0; }
  }

@media screen and (max-width: 767px){
  /**** ListArea ****/
  .listArea {
    padding: 0;
    margin-bottom: 8.5rem;
  }

  .picListArea {
    padding: 0 15px;
    margin-bottom: 8.5rem;
  }

  .listArea button {
    width: 100%;
  }
}