@charset 'UTF-8';

.loadingDisplay {
	height: 100%;
	width: 100%;
	background: #fff;
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loadingDisplay.completed {
	opacity: 0;
	transition: all 0.4s;
	visibility: hidden;
}
