@charset 'UTF-8';

.modalArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: rgb(0 0 0 / 77%); */
}

.container {
  position: relative;
  margin: auto 3.2vw;
}

.modalContents {
  display: flex;
  flex-direction: column;
  /* align-items: end; */
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textContent p {
  color: #FFFFFF ;
  margin-bottom: 0;
  padding-left: 1vw;
}

.clossBtn {
  width: 35px;
  height: auto;
  cursor: pointer;
}

.picture img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .wh80 {
    width: 80% !important;
  }
}

@media screen and (max-width: 767px){
  .clossBtn {
    width: 24px;
  }

  .textContent {
    align-items: end;
  }

  .textContent p {
    font-size: 0.8em;
  }

  .wh80 {
    width: initial !important;
  }
}