@charset 'UTF-8';
/**** ページ読み込み時 ****/
/* .l-container {
  opacity: 0;
}

.l-container.display {
  opacity: 1;
  transition: all 1s;
  transition-delay: 1s;  /* 0.7秒遅らせる 
} */

/**** main ****/
main section {
	background-color: #fff;
	position: relative;
	z-index: 2;
	margin-bottom: 11.5rem;
}

/**** footer ****/
footer {
	margin-top: 0 !important;
}

@media screen and (max-width: 767px) {
	main section {
		margin-bottom: 6.5rem;
	}
}
