/**** 全エリア共通 ****/

/* #root {
  font-size: 1.4em;
} */

body ul {
  padding-left: initial;
}

ul li {
  list-style: none;
}

body a {
  text-decoration: none;
  color: inherit;
}


/**** header ****/
header {
  padding: 1rem 55px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 2.4em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  color: #FFFFFF;
}

header p,
header ul {
  margin-bottom: initial;
}

header .Header__nav ul {
  display: flex;
}

header .Header__nav ul li {
  font-size: 0.5em;
}

header .Header__nav ul li + li {
  margin-left: 82px;
}

/**** main ****/

/**** KV ****/
.Kv_contents {
  width: 100%;
}

.Kv_contents img {
  width: 100%;
}