@charset 'UTF-8';
/**** contents ****/
.contentsArea {
  padding: 12.5rem 0;
}

.eachContents {
  margin-top: 10rem;
}

.eachContents li + li {
  margin-top: 27rem;
}


@media screen and (max-width: 767px){
  /**** contents ****/
  .eachContents {
    display: block;
    margin-top: 7rem;
  }

  .contentsArea {
    padding: 6.5rem 0;
  }

  .eachContents li + li {
    margin-top: 9.2rem;
  }
}