@charset 'UTF-8';
/**** main ****/
.contentsArea {
  padding: 12.5rem 0;
}

.eachContents {
  margin-top: 10rem;
}

.eachContentsLiEvenRow {
  flex-direction: row-reverse;
}

.eachContents li + li {
  margin-top: 27rem;
}

.col {
  display: grid;
  align-content: center;
  justify-content: center;
}

.row .col img {
  width: 100%;
}

.listArea {
  padding: 15rem 0 0;
}

/**** footer ****/
  footer {
    margin-top: 0;
  }

@media screen and (max-width: 767px){
  /**** Main ****/
  /** Kv **/
  .scroll-down4 {
    height:60px;
  }
  
  .scrollArea {
    right: 24px;
  }

  .mainArticles .listArea {
    padding: 8rem 0 4.5rem;
  }

  .mainArticles .eachContents {
    display: block;
    margin-top: 7rem;
  }

  .col {
    align-content: normal;
    justify-content:inherit
  }

  .container .col p {
    font-size: 1.8em;
  }

  .container .row .col:first-child {
    margin-bottom: 20px;
  }

  .mainArticles .contentsArea .arrowLink {
    justify-content: end;
  }

  .contentsArea .eachContents li .row {
    display: block;
  }

  .mainArticles .contentsArea {
    padding: 6.5rem 0;
  }

  .eachContents li + li {
    margin-top: 9.2rem;
  }

}